body{
    color: rgb(241, 233, 233);
    background:rgb(34, 33, 33);
    margin:0px; 
    font-family: "Anton", serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 4px rgb(19, 96, 107);
    padding: 20px;  
    font-size: 32px;
    color: rgba(19, 69, 109, 0.676);
}

.chamada {
    background: rgb(19, 96, 107);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;
}

.chamada-texto {
    margin-right: 10%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}


.categoria-videos { 
    display:flex;
    overflow-x: auto;
    gap: 10px;
} 

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    
}

.categoria-videos img:hover  {
    opacity: 1.0;
    border: 3px solid rgb(6, 86, 143);
}

.categoria h2  {
    color: rgba(34, 76, 111, 0.676);
}
 
  
